$primary: #212529;
$border-radius: 1rem;
$box-shadow: 0 .5rem 1.5rem rgba($primary, .1) !default;

$bitcoin: #f7931a;
$bitcoin-cash: #8dc351;
$ethereum: #627eea;
$ripple: #23292f;
$stellar: #000000;
$dogecoin: #c3a634;
$decentraland: #ff2d55;
$cardano: #0d1e30;

$pd-day-hover-bg: lighten($primary, 75%);
$pd-day-selected-bg: $primary;
$pd-day-today-color: $primary;
$pd-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";