.clamp-1, .clamp-2 {
    overflow: hidden!important;
    max-height: 80px!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
}

.clamp-1 {
    -webkit-line-clamp: 1!important;
}