.text-bitcoin {
	color: $bitcoin!important;
}

.text-bitcoin-cash {
	color: $bitcoin-cash!important;
}

.text-ethereum {
	color: $ethereum!important;
}

.text-cardano {
	color: $cardano!important;
}

.text-ripple {
	color: $ripple!important;
}

.text-dogecoin {
	color: $dogecoin!important;
}

.text-stellar {
	color: $stellar!important;
}

.text-decentraland {
	color: $decentraland!important;
}