////////////////////////////////////////
// SECOND BREAKPOINT: less than 768px //
////////////////////////////////////////
@include media-breakpoint-down(sm) {
	.btn-sm-block {
		display: block;
		width: 100%;
	}

	.border-sm-none {
		border: none !important;
	}

	canvas.chart-canvas {
		height: 120px !important;
	}
}

/////////////////////////////
// Between 768px and 992px //
/////////////////////////////
@include media-breakpoint-between(sm, md) {
	//
}